<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social</title>
  <link rel="stylesheet" href="/css/styles.css">
  </link>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <div class="container-body">
    <div class="posts-container">
      <% if(locals.posts) { %>
      <% posts.forEach(function(post) {%>
        <div class="card" style="width: 35rem;">
            <div class="card-body">
              <h5 class="text card-title" style="text-align: center;"> <%= post.title %></h5>
              <hr class="title-underline">
              <p class="text card-text"><%= post.content %></p>
              <hr class="content-underline">
              <h6 class="author" style="text-align:center">Written by: <%= post.author %></h6>
              
              <div class="author-buttons">
                <a href="#" class="card-link">Edit Post</a>
                <a href="#" class="card-link">Delete Post</a>
              </div>
            </div>
      <% }); %>
      <%}%>
            </div>
        </div>
</body>

</html>