body{
    background-color: rgb(255, 238, 169);
}

.container-header{
    background-color: rgb(93, 90, 247);
    margin: 0px;
    width: 100% !important;
    max-width: none !important;
}

.navbar{
    background-color: rgb(255, 125, 41) !important;
}

.navbar-brand{
    background-color: rgb(255, 102, 0) !important;
    padding:10px !important;
    border: 2px solid black;
    border-radius:5%;
}

.container-body{
    background-color: rgb(255, 238, 169);
    margin-top: 50px;
    height:100vh;
}

.posts-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.log-in-button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.go-to-register{
    text-decoration: underline;
    margin-top: 10px;
}

.log-in-button{
    background-color: rgb(255, 102, 0) !important;
    border: 2px solid black;
    color: black;
}

.register-button{
    background-color: rgb(255, 102, 0) !important;
    border: 2px solid black;
    color: black;
}

.form-floating{
    margin-bottom: 15px;
}

.card{
    width: 33% !important;
    border: 2px solid black;
}

.company-container{
    margin-right: 25% !important;
}

.write-post{
    color: black !important;
}

.write-new-post{
    margin-right: 100px;
}

.author-buttons{
    display:flex;
    justify-content: center;
}

.card-link{
    text-decoration: none;
    color:firebrick;
    text-decoration:none;
    font-size:0.85rem;
}

.title-underline{
    height:5px;
    border:none;
    color:rgb(255, 125, 41);
    background-color:rgb(255, 125, 41);
}

.content-underline{
    height:2.5px;
    border:none;
    color:black;
    background-color:black;
}


